<!DOCTYPE html>
<html>
<title>MovieRec About Page</title>
<body>

  <button><a href="http://127.0.0.1:5000/"> Home Page</a></button>
  <button><a href="http://127.0.0.1:5000/about">About Page</a></button>

<h1>MovieRec: About</h1>


<p>
  MovieRec is the undergraduate Information Science capstone project of <a href="https://chasekregor.github.io">Chase Kregor</a>. <br/><br/>

  This project's code is located <a href="https://github.com/chasekregor/INFOCapstone">https://github.com/chasekregor/INFOCapstone</a>.


</p>




</body>
</html>
