<!DOCTYPE html>
<html>
<title>MovieRec</title>
<body>
  <button><a href="http://127.0.0.1:5000/"> Home Page</a></button>
  <button><a href="http://127.0.0.1:5000/about">About Page</a></button>

<h1>MovieRec: Home</h1>

  <h2><b>Introduction: </b></h2>
  <p> MovieRec tries to predict movies you may like. <br/><br/>
    MovieRec gives you two sets of recommendations: <br/>
    <ul>
      <li> A set based on the movies you liked.</li>
      <li> Another set based on the movies people similar to you liked as well.</li>
    </ul>
    The more ratings you give MovieRec the more accurate your predictions will be.<br/><br/>
    Please rate at least 25 movies. Please rate movies 0-5.

  </p>

  <h2><b>Rate Movies: </b></h2>


<form action = "/result" method="POST">
<p> Movie #1: <input name="dep_hour" type ="text" value="2.5" /> </p>
<p> Movie #2: <input name="dep_hour" type ="text" value="2.5" /> </p>
<p> Movie #3: <input name="dep_hour" type ="text" value="2.5" /> </p>
<p> Movie #4: <input name="dep_hour" type ="text" value="2.5" /> </p>
<p> Movie #5: <input name="dep_hour" type ="text" value="2.5" /> </p>
<p> Movie #6: <input name="dep_hour" type ="text" value="2.5" /> </p>
<p> Movie #7: <input name="dep_hour" type ="text" value="2.5" /> </p>
<p> Movie #8: <input name="dep_hour" type ="text" value="2.5" /> </p>
<p> Movie #9: <input name="dep_hour" type ="text" value="2.5" /> </p>
<p> Movie #10: <input name="dep_hour" type ="text" value="2.5" /> </p>

{% for movie in movies %}
<div><p>{{ movie.title }}: <b><input name="dep_hour" type ="text" value={{ movie.average }} /></b></p></div>

{% endfor %}


<p> <input type ="submit" value="submit" /> </p>
</form>


</body>
</html>
